body {
  background-color: #282c34;
  height: 100%;
  color: white;
  font-size: 20px;
}

* {
  margin: 5px;
}
button {
  padding: 5px 10px;
}

.App img {
  width: 100%;
  max-width: 100px;
}

table,
td {
  border: 1px solid #fff;
  padding: 2vh;
}

p {
  /* border: 1px solid #c6c6c6; */
  width: 100%;
  /* max-width: 250px; */
  /* cursor: pointer; */
  padding: 3px;
}

input {
  width: 100%;
  max-width: 250px;
  padding: 5px;
}
