body {
  background-color: #282c34;
  height: 100%;
  color: white;
  font-size: 20px;
}

* {
  margin: 5px;
}
button {
  padding: 5px 10px;
}

.App img {
  width: 100%;
  max-width: 100px;
}

table,
td {
  border: 1px solid #fff;
  padding: 2vh;
}
