body {
  background-color: #282c34;
  height: 100%;
  color: white;
  font-size: 25px;
}
.App {
}
* {
  margin: 5px;
}
button {
  padding: 10px 15px;
}

.App img {
  width: 100%;
  max-width: 100px;
}
